<html>
<head>
  <!-- Load FontAwesome icons -->
  <link rel="stylesheet"
        href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Load the custom CSS style file -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <script defer>
    let trackIntro = document.createElement('audio');
    let mySoundsOriginalOrder = {{ sounds|tojson }};

    let track = document.createElement('audio');
    let mySounds = {{ sounds|tojson }};
    let idx = 0;
    let playing = false;

    shuffle(mySounds)
    let sound = mySounds[idx];

    function tryToPlaySound() {
      console.log("Going to play: " + sound.title);
      track.src = sound.url;
      track.load();
      track.play();
    }

    function inPlay(){
      console.log('Wait 2s.');
      idx += 1;
      if (idx == mySounds.length) {
          idx = 0;
          shuffle(mySounds)
      }
      sound = mySounds[idx];
      setTimeout(tryToPlaySound, 2000);
    }

    function inPause(){
        console.log("Playing paused")
    }

    track.addEventListener('ended', (event) => {
      if (playing) {
        inPlay()
      }
      else {
        inPause()
      }
    });

    function shuffle(array) {
      let currentIndex = array.length,  randomIndex;

      // While there remain elements to shuffle...
      while (currentIndex != 0) {

        // Pick a remaining element...
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex], array[currentIndex]];
      }

      return array;
    }

    function refreshButtons() {
        document.getElementById("play-button").disabled = playing;
        document.getElementById("pause-button").disabled = !playing;
    }

    let introIndex = 0;
    let soundIntro = mySoundsOriginalOrder[introIndex];

    function playIntro(){
      console.log("Going to intro play: " + soundIntro.title);
      trackIntro.src = soundIntro.url;
      trackIntro.load();
      trackIntro.play();
    }

    function inPlayIntro(){
      console.log('Wait intro 2s.');
      introIndex += 1;
      if (idx < mySounds.length) {
        soundIntro = mySoundsOriginalOrder[introIndex];
        setTimeout(playIntro, 2000);
      }
    }

    trackIntro.addEventListener('ended', (event) => {
      inPlayIntro();
    });

  </script>
</head>
<body>
  <button id="play-button" style="font-size:150px;" onclick="playing=true;setTimeout(function(){refreshButtons()},0);tryToPlaySound()">&#x23F5;</button>
  <button id="pause-button" style="font-size:150px;" onclick="playing=false;setTimeout(function (){refreshButtons()}, 0)">&#x23F8;</button>
  <button id="pause-button" style="font-size:150px;" onclick="playIntro()">intro</button>
</body>
</html>