<html>
<head>
  <!-- Load FontAwesome icons -->
  <link rel="stylesheet"
        href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

  <!-- Load the custom CSS style file -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <script>
    var track = document.createElement('audio');
    var my_sounds = {{ sounds|tojson }};
    var sound = getRandomSound();
    function playSound() {
      console.log("Going to play: " + sound.title);
      track.src = sound.url;
      track.load();
      track.play();
    }
    track.addEventListener('ended', (event) => {
      console.log('Wait 2s.');
      sound = getRandomSound();
      setTimeout(playSound, 2000);
    });
    function randomIntFromInterval(min, max) { // min and max included
      return Math.floor(Math.random() * (max - min + 1) + min)
    }
    function getRandomSound() {
      var index = randomIntFromInterval(1, 12);
      var sound = my_sounds[index];
      console.log(index);
      return sound;
    }
  </script>
</head>
<body>
  <button style="font-size:150px;" onclick="playSound()">&#9658;</button>
</body>
</html>